body {
  margin: 0;
  padding: 0;
  background-color: #004882;
  color: #f2f2f2;
}

.nadpis {font-family: monospace; text-align: center; font-weight: bold; font-size: 25px;} 


.box {
  position: relative;
  left: 0px;
  top: 1px;
  width:215px;
  background-color: #aa63af;
 
  
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 8px;
  width: 120px;
  border: none;
  font-size: 14px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\25BC";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

#mypage {width: 670px; 
		text-align: center;
		margin: 0 auto;
		height: 1000px;
		background-color: #0563af; }

#obsah {width: 660px;
		position: relative;
		float:left;
		height: 650px;
		background-color: #0a56ad;
		padding: 5px;
		text-align: center;}
		
#hornilista {width: 660px;
		position: static;
		
		height: 50px;
		background-color: #00bb00;
		} 
		
#lista1 {width: 215px;
		position: relative;
		 
		float:left;
		height: 50px;
		background-color: #0b5600;
		text-align: center;} 
		
#lista2 {width: 215px;
		position: relative;
		 
		float:left;
		left:240px;
		height: 50px;
		background-color: #ff5655;
		text-align: center;} 
		
		
#obrazek {width: 650px; 
		text-align: center;
		position: relative;
		color: #ff00cc;
		top: 140px;
		
		height: 302px;
		background-color: #0aa3af;
		background-image: url("priruba2.png");		}
		
#tabulka {width: 650px; 
		text-align: center;
		position: relative;
		color: #ff00cc;
		top: 210px;
		margin: 0 auto;
		padding-bottom: 10px;
		background-color: #cc56b0;
			}		